/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 23, 2023, 7:31:25 AM
    Author     : admin
*/

GridPane {
    -fx-font-family: Tahoma;
}

Text {
    -fx-fill: blue;
}